.sign-in-out {
    /* background-image: url(../images/loginForm.jpg); */
    background-position: 50% 0;
    background-repeat: no-repeat;
    margin: 0 auto;
    width: auto;
    max-width: 806px;
    min-height: 714px;
    margin-top: 40px;
    border-width: 15px 13px;
    border-style: solid;
    border-color: #e8e7e4;
}

.content {
    width: 419px;
    min-height: 407px;
    margin: 0 auto;
    margin-top: 111px;
    background-color: #fff;
    background: rgba(255,255,255,0.96);
    float: none;
}

.signout-block {
    clear: both;
    margin: 0 auto;
}

.header-column {
    padding: 10px;
}
.row {
    width: auto;
}

#login-title {
    color: #62b5e5;
    margin-top: 20px;
}

